body{
    font-family: 'Pacifico', cursive;
    background-color: lightblue;
}

.header_div{
    background-color: rgb(255, 255, 154);
    color: red;
}

.header_div img{
    width: 100px;
}

.main_div{
    background-color:violet;
    padding: 10px;
    margin-top: 15px;
    border: 3px dashed blue;
}

.main_div label{
    background-color: coral;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 15px cyan;
}

#webcam, #output{
    border: 3px dashed blue;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 15px cyan;
}

.main_div button{
    width: 310px;
    box-shadow: 5px 5px 15px cyan;
    border: 1px ridge;
    font-size: 20px;
}

.footdiv{
    margin-bottom: 50px;
    margin-left: 320px;

}

.footdiv h4{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px cyan;
}

.footdiv img{
    width: 70px;
}

.copyrightfoot_er{
    position: fixed;
    bottom: 0;
    color: darkblue;
    width: 100%;
    background-color: deepskyblue;
    text-align: center;
    line-height: 2;
}